*{
    margin: 0;
    padding: 0;
}

main{
    margin:auto;
    background-color: white;
    width: 50%;
    border: solid black;
}

.top-cont{
    background-image: url(/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

.logo-cont{
    display: flex;
    justify-content:space-between;
    padding: 30px 40px;
}

.logo-cont img{
    width: 20%;
}

.logo-cont button{
    border-radius: 25px;
    border: none;
    padding: 2px 15px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 1px 3px 0px;
    font-size: 8px;
    text-align: center;
    width: 100px;
}

.headline-cont{
    display: flex;
    margin: 30px 40px;
    padding-bottom: 35px;

}

.head-sub{
    margin: 40px 30px 20px 0;
}

.head-sub h1{
    font-size: 30px;
}

.head-sub p{
    font-size: 12px;
    padding: 20px 0 0 0;
}

.head-sub button{
    border-radius: 15px;
    border: none;
    padding: 6px 20px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    box-shadow: 1px 1px 2px 1px hsl(322, 100%, 66%);
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
}
.headline-img img{
    width: 105%;
}


.second.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.three-conts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.grow{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 50px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
    
}

.grow-tog{
    margin-right: 5px;
}
.grow-tog p{
    padding-top: 10px;
}
.grow img{
    width: 40%;
}

.flowing{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
}

.flowing img{
    width: 40%;
}

.your-users{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
}

.your-users img{
    width: 40%;
}