*{
    margin: 0;
    padding: 0;
}

main{
    margin:auto;
    background-color: white;
    width: 50%;
}

.top-cont{
    background-image: url(/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    background-size: contain;
}

.logo-cont{
    display: flex;
    justify-content:space-between;
    padding: 30px 40px;
}

.logo-cont img{
    width: 20%;
}

.logo-cont button{
    border-radius: 25px;
    border: none;
    padding: 2px 15px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 1px 3px 0px;
    font-size: 8px;
    text-align: center;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.logo-cont button:hover{
    color: hsla(192, 100%, 9%, 0.659);
    cursor: pointer;
}

.headline-cont{
    display: flex;
    margin: 30px 40px;
    padding-bottom: 35px;

}

.head-sub{
    margin: 40px 30px 20px 0;
}

.head-sub h1{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.head-sub h1:hover{
    font-size: 30px;
    transition: width 2s, height 2s;
}

.head-sub p{
    font-size: 12px;
    padding: 20px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.head-sub button{
    border-radius: 25px;
    border: none;
    padding: 15px 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    box-shadow: 1px 1px 2px 1px hsl(322, 100%, 66%);
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.head-sub button:hover{
    background-color: hsla(322, 100%, 66%, 0.649);
    cursor: pointer;
    box-shadow: none;
}

.headline-img img{
    width: 105%;
}


.second.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.three-conts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.grow{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 50px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
    margin-bottom: 30px;    
}

.grow:hover{
    width:85%;
    transition: width 3s height 4s;
}

.grow-tog{
    padding-right: 20px;
}

.grow-tog h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
.grow-tog p{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: hsl(208, 11%, 55%);
    line-height: 1.5em;
}
.grow img{
    width: 40%;
}

.flowing{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 50px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
    margin-bottom: 30px;
}

.flowing:hover{
    width:85%;
    transition: width 3s height 4s;
}

.flowing img{
    width: 40%;
}

.flowing h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flowing p{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: hsl(208, 11%, 55%);
    line-height: 1.5em;
}

.your-users{
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 50px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
    border-radius: 8px;
    margin-bottom: 8%;
}

.your-users:hover{
    width:85%;
    transition: width 3s height 4s;
}

.your-users img{
    width: 40%;
}

.your-users h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.your-users p{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: hsl(208, 11%, 55%);
    line-height: 1.5em;
}

.ready{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    box-shadow: 1px 1px 2px 0px rgba(111, 110, 110, 0.579);
    border-radius: 8px;
    margin:auto auto -60px;
    position: relative;
    z-index: 1;
}

.ready h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

.ready button{
    padding: 15px 40px;
    margin: 25px 20px 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.579);
}

.ready button:hover{
    background-color: hsla(322, 100%, 66%, 0.649);
    cursor: pointer;
    box-shadow: none;
}

footer{
    margin: auto;
    background-color: hsl(192, 100%, 9%);
    width: 50%;
}

.footer-logo img{
    filter: brightness(0) invert(1);
    width: 16%;
    margin: 100px 10px 5px 80px;
}


.footer-elem{
    display: flex;
    padding: 10px 10px 10px 80px;
}

.icons{
    display: flex;
    margin-top: 15px;
    width: 30%;
    flex-direction: column;
}

.icons p{
    margin-left: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5em;
}

.icons div{
    display: flex;
    margin-bottom: 10px;
}

.icons img{
    width: 12px;
}

.about{
    margin-top: 15px;
    line-height: 1.5em;
    margin-left: 80px;    
}

.career{
    margin-top: 15px;
    line-height: 1.5em;
    margin-left: 80px;
}

ol a{
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

ol a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.socials{
    margin-top: 15px;
    margin-left: 80px;
}

.socials a{
    color: white;
}
.socials a:hover{
    cursor: pointer;
    color: hsl(322, 100%, 66%);
}

.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: white;
    text-align: right;
    padding: 15px 50px 40px 0;
}

body{
    background-color: black;
    
}

@media screen and (max-width: 1440px){
    .ready{
        width: 60%;
    }
    
}

@media screen and (max-width: 375px){
    .top-cont{
        background-image: url(/bg-hero-mobile.svg);
    }

    .logo-cont{
        padding: 10px;
    }
    
    .logo-cont img{
        width: 25%;
    }

    .logo-cont button{
        width: 40%;
        padding: 2px 10px;
    }

    .headline-cont{
        flex-direction: column;
        margin: 20px 8px;
        padding-bottom: 15px;
    }

    .head-sub{
        margin: 5px;
    }

    .head-sub h1{
        text-align: center;
        font-size: 14px;
        line-height: 1.5em;
    }

    .head-sub p{
        text-align: center;
        font-size: 10px;
    }

    .head-sub button{
        padding: 5px 30px;
        margin-left: 10px;
    }

    .headline-img img{
        width: 90%;
        margin: 30px 5px 5px 10px;
    }

    .three-conts{
        margin-top: 50px;
    }

    .grow{
        flex-direction: column-reverse;
        width: 70%;
        padding: 30px 15px;
    }

    .grow:hover{
        width: 75%;
    }

    .grow-tog{
        padding-right: 0;
    }
    .grow-tog h2{
        font-size: 11px;
        text-align: center;
        padding-top: 25px;
    }

    .grow-tog p{
        font-size: 7px;
        text-align: center;
    }

    .grow img{
        width: 100%;
    }
    
    .flowing{
        flex-direction: column;
        width: 70%;
        padding: 30px 15px;
    }

    .flowing:hover{
        width: 75%;
    }

    .flowing h2{
        font-size: 11px;
        text-align: center;
        padding-top: 25px;
    }

    .flowing p{
        font-size: 7px;
        text-align: center;
    }

    .flowing img{
        width: 100%;
    }

    .your-users{
        flex-direction: column-reverse;
        width: 70%;
        padding: 30px 15px;
    }

    .your-users:hover{
        width: 75%;
    }

    .your-users h2{
        font-size: 11px;
        text-align: center;
        padding-top: 25px;
    }

    .your-users p{
        font-size: 7px;
        text-align: center;
    }

    .your-users img{
        width: 100%;
    }

    .ready{
        width: 85%;
        padding: 20px 10px 10px;
        margin: auto auto -30px;
    }

    .ready h2{
        font-size: 9px;
        text-align: center;
    }

    .ready button{
        padding: 8px 20px;
        font-size: 7px;
        margin: 15px 20px 10px;
    }

    .footer-elem{
        flex-direction: column;
        padding-left: 10px;
    }

    .footer-logo img{
        width: 40%;
        margin: 60px 10px 5px;
    }

    .icons{
        width: 100%;
        margin-top: 0;
    }

    .icons p{
        font-size: 8.5px;
    }

    .icons img{
        width: 9px;
    }

    .about{
        margin-left: 0px;
        margin-top: 5px;
    }

    .career{
        margin-left: 0;
        margin-top: 0;
    }

    ol a{
        font-size: 8.5px;
    }

    
    .socials{
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        
    }

    .copyright{
        text-align: center;
        font-size: 7px;
        padding: 10px 5px;
        margin-top: 0;
    }

}